@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

body{
    background-color: #eff0f2;
}

.navbar-brand{
    color: black;
    font-family: 'Hammersmith One', cursive;
}

#movies img, #movie img{
    width: 90%;
}

@media(min-width:960px){
#movies .col-md-3 .well{
    height: 420px;
}

#movies .col-md-3 img{
    height: 310px;
    }
}